* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background: #333333;   
}
